
nav {
    background-color: #e8bad6; 
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    position: relative;
    margin: 0 15px;
    padding: 10px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

.has-dropdown {
    position: relative;
  }

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e8bad6;
    padding: 0;
    list-style: none;
    width: 150px;
    z-index: 1000;
}

.dropdown li {
    padding: 10px;
    white-space: nowrap;
    margin: 0;
}

.dropdown li a {
    display: block;
    padding: 10px;
}

nav ul li.has-dropdown:hover .dropdown {
    display: block;
  }

.hamburger {
    display: none; 
    font-size: 30px; 
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    nav ul {
        display: none; 
        list-style-type: none;
        padding-left: 0;
    }

    .hamburger {
        display: block; 
    }

    nav ul.active {
        display: block; 
    }

    .has-dropdown .dropdown {
        display: none;
    }

    nav ul li a {
        padding: 10px;
    }
    .has-dropdown .dropdown {
        display: none !important;
    }
}